* {
    font-family: 'Spartan', sans-serif;
    color: rgb(110, 110, 110);
}
body {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.col-1-3 {
    display: block;
    width: 300px;
    height: 398px;
    text-align: center;
    margin-top: 100px auto;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    box-shadow: rgba(168, 168, 168, 0.08) 0px 8px 8px 0;
}
h1 {
    font-weight: 100;
    font-size: 35px;
    padding-top: 10px;
}

h1 .current-button,
h1 .current-button:hover {
    background-color: transparent;
    border: none;
    color: rgb(90, 88, 112);
    display: flex;
    float: left;
    margin-left: 82px;
}
h1 button .current-button:hover {
    color: rgb(165, 159, 247);
    font-size: 1.05rem;
    font-weight: 500;
    transition: all 0.2s ease;
    margin-left: 80px;
}

.main-icon {
    width: 140px;
    height: auto;
}
.location,
.main-degree {
    font-weight: 500;
}
.main-degree {
    margin-bottom: 3px;
    font-size: 50px;
}
.units a {
    font-size: 25px;
    text-decoration: none;
    font-weight: 300;
}
.location {
    font-size: 35px;
    margin-bottom: 0px;
}
.current-time {
    font-size: 20px;
    font-weight: 300;
}

.small-icons {
    height: 80px;
}
.degrees {
    font-size: 22px;
}
ul li {
    list-style: none;
}
.col-2-3 form {
    display: block;
}
.week {
    margin: 10px auto;
}
.week ul li {
    display: inline-block;
    margin: 52px 25px auto auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    box-shadow: rgba(168, 168, 168, 0.08) 0px 8px 8px 0;
}
.days {
    margin: 5px auto 10px auto;
}
.col-sm {
    width: 120px;
}
form {
    margin-left: 45%;
    margin-top: 100px;
    width: 35%;
}
button {
    display: flex;
    float: right;
}
.extra-info p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 16px
}
.row-1-3 {
    float: left;
    margin-right: 60px;
    margin-bottom: 220px;
}
.row-2-3 {
    width: 100%;
    display: block;
}
